body {
  background-color: #4aaaa5;
}
header {
  background-color: #ffffff;
  border-color: #cccccc;
  float: right;
}
h1 {
  font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
}
.image {
  float: left;
margin-left: 0px 0px 0px 60px;
width: 150px;
height: 38px;
}
p {
  text-align: center
  font-size: 18px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
  background-color: #ffffff;
  border-color: #dddddd;
  float: wrap;
  margin-left: 13.5%;
  margin-right: auto;
  width: 50%;
}
footer {
  background-color: #666666;
  border-color: green;
}
h2 {
 clear: both;
}